.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    
}

.modal:target {
    display: block;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal__inner {
    position: relative;
    background: white;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}